.ajax-content{
  position: relative;
  margin: 0 10px 10px 10px;
  padding: 10px;
  box-shadow: 0px 1px 14px -6px rgba(0,0,0,0.75);
  .i-filter{
    position: absolute;
    z-index: 3;
    top:10px;
    right:10px;
    width: 20px;
    height: 20px;
  }
}

.ajax-control{
  margin-bottom: 10px;
  padding: 10px;
  background: #fff;
  box-shadow: 0px 1px 14px -6px rgba(0,0,0,0.75);
  .btn-link{
    margin: 0 10px;
  }
}

.ajax-tabs{
  margin: 0 0 10px -0.3%;
  font-size: 0;
  li{
    display: inline-block;
    width: 33%;
    margin-left: 0.3%;
    margin-bottom: 5px;
    a{
      display: block;
      padding: 16px 0;
      color:#6b6464;
      text-decoration: none;
      background: #e5e5e6;
      text-align: center;
      font-size: 13px;
      font-family: 'PT Sans', sans-serif;
    }
    &.active > a {
      &,
      &:hover,
      &:focus {
        background: #8554a9;
        color:#fff;
        cursor: default;
      }
    }
  }
}

.ajax-tabs--double{
  margin: 0 0 0 -0.3%;
  li{
    width: 49.7%;
  }
}