.filter-item{

}

.filter-header{
  padding: 0 15px;
  background: #efeff0;
  line-height: 30px;
}

.filter-body{
  padding: 10px 15px;
}

.filter-list{

  li{
    margin-bottom: 25px;
  }
  li:last-child{
    margin-bottom: 15px;
  }
}