.nav-tabs--interest{
  margin-bottom: 20px;
  padding: 10px;
  background: #fff;
}

.nav-tabs--interest>li>a{
  padding: 16px 10px;
}
//-----------------------------------
.preview-info{
  margin-bottom: 10px;
  background: #fff;
  padding: 5px 10px;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0px 1px 14px -6px rgba(0,0,0,0.75);
}

.preview-info__title{
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}

.preview-info__text{
  font-size: 12px;
}

.other-event{
  background: #fff;
  padding: 10px;
  box-shadow: 0px 1px 14px -6px rgba(0,0,0,0.75);
}
//--------------------------------------
.full-place{
  margin-bottom: 10px;
  background: #fff;
  padding: 2px 10px 10px 10px;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0px 1px 14px -6px rgba(0,0,0,0.75);
}

.full-place__body{
  padding-bottom: 10px;
  .ticket-buy{
    position: absolute;
    z-index: 5;
    top:10px;
    right:10px;
  }
}

.full-place__footer{
  padding-top: 15px;
  border-top: 1px solid $gray;
  font-size: 12px;
}
.full-place__footer--no-padding{
  padding-top:0;
}
.full-place__footer--no-border{
  border-top:0;
}
.full-place-link{
  color: $orange;
  text-decoration: none;
  font-size: 12px;
}

.full-place-info{
  margin-bottom: 8px;
  b{
    font-size: 13px;
  }
  .font-size-12{
    margin:3px 0;
  }
}
.full-place-info--border{
  border-bottom: 1px solid $gray;
  padding-bottom: 8px;
}

.full-place-title{
  margin:5px 0 5px 0;
  font-size:20px;
  line-height:20px;
  color:#6b6464;
  font-weight:normal;
  small{
    font-size: 13px;
  }
}

.full-place-img{
  display: block;
  margin: 5px 0 10px 0;
  width: 100%;
}
.full-place-text{
  margin: 10px 0;
  font-size: 12px;
}