.stuff-item{
  margin-bottom: 15px;
}

.stuff-title{
  margin: 10px 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}
.stuff-title--padding{
  padding: 0 10px;
}